* {
    box-sizing: border-box;
}

body {
    background-color: #2f9cff;
    color: bisque;
    margin: 0;
}

.navbar {
    background-color: #2f9cff;
    padding: 1rem;
    text-align: center;
    width: 100%; /*Full width*/
    overflow: hidden;
    position: fixed; /*Set the navbar to fixed position*/
    top: 0; /*Position the navbar at the top of the page*/
    box-shadow: 0px 5px 10px rgba(0,0,0,0.6);
    border-left: 4px solid white;
    border-right: 3px solid white;
}

.navbar-button {
    display: inline-flex;
    background-color: #2f9cff;
    border:none;
    cursor: pointer;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1rem;
}

.navbar-button:hover {
    background-color: #ff7d00;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 2rem;
}


header {
    background-color: #ff7d00;
    display: flex;
    flex-flow: column;
    height: 500px; /*if flex is no supported*/
    height: 100vh; /*if flex is supported it will run this*/
}

header > img {
    margin-top: 80px;
    margin-bottom: 1rem;
    align-self: center;
    width: 100%;
    max-width: 1080px;
    border-radius: 1rem;
}

header > h1 {
    padding: 3rem;
    text-align: center;
}



/*Apenas para caso grid não esteja disponível*/
.maincontent{
    max-width: 100%;
    margin: 0 auto;
}

article{
    margin: 1rem 0;
}

@supports (display: grid){
.maincontent {
    max-height: 90vw;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80%;
    background-color: #2f9cff;
    box-shadow: -5px -10px 10px rgba(0,0,0,0.6);
}

section {
    background-color: #267fff;
}

h2 {
    border-top: 5px solid white;
    padding: 3rem;
    margin-top: 120px;
    background-color: #2f9cff;
    font-size: 100px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article{
    margin: 0;
}

.sale-item {
    display: flex;
    flex-flow: column;
    border-radius: 1rem;
    padding: 2rem;
}

.sale-item > img {
    order: -1;
    align-self: center;
    display: block;
    box-shadow: -5px 5px 5px rgba(0,0,0,0.6);
    width: 100%;
    height: 440px;
    object-fit: cover; /*crop the image or better its creat a frame where image will be fit in*/
    object-position: center; /*positionate the image inside the frame*/
    border-radius: 1rem;
    margin-bottom: 10px;
}

.sale-item > h3 {
    background-color: #2f9cff;
    margin: 0px 0px 0px 0px;
    text-align: center;
}

.sale-item > p {
    text-align: center;
}

.sale-item > ul {
    text-align: center;
    background-color: #2f9cff;
}

.sale-item > button {
    margin-top: auto;
    background-color: #ff7d00;
    color: white;
    box-shadow: -5px 5px 5px rgba(0,0,0,0.6);
    padding: 0.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.sale-item > button:hover {
    margin-top: auto;
    background-color: #ff5300;
    box-shadow: -10px 10px 10px rgba(0,0,0,0.6);
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
}
}


